div.box{width:35%;border:1px solid pink;margin-left:10px; padding:20px;float:left}
input,select,textarea{margin:3px;padding:5px;border-radius:2px;border:1px solid pink}
.footer{
	margin-top:100px;padding:50px;text-align:center;background:#101010;color:white;
	
}