<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>com.servlet.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactDao</servlet-name>
        <servlet-class>com.dao.ContactDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContact</servlet-name>
        <servlet-class>com.servlet.UpdateContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>com.servlet.EditContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContact</servlet-name>
        <servlet-class>com.servlet.DeleteContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServletAdmin</servlet-name>
        <servlet-class>com.servlet.LogOutServletAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactDao</servlet-name>
        <url-pattern>/ContactDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContact</servlet-name>
        <url-pattern>/UpdateContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContact</servlet-name>
        <url-pattern>/DeleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServletAdmin</servlet-name>
        <url-pattern>/LogOutServletAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
