<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>againvote</display-name>
    <servlet-name>againvote</servlet-name>
    <servlet-class>vote.com.servlet.againvote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>againvote</servlet-name>
    <url-pattern>/againvote</url-pattern>
  </servlet-mapping>
  <display-name>Online_Voting_System</display-name>
  <welcome-file-list>
    <welcome-file>againvote.html</welcome-file>
    <welcome-file>loginpage.html</welcome-file>
    <welcome-file>registration.html</welcome-file>
    <welcome-file>thankyou.html</welcome-file>
    <welcome-file>vote.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBUtilR</display-name>
    <servlet-name>DBUtilR</servlet-name>
    <servlet-class>vote.com.servlet.DBUtilR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtilR</servlet-name>
    <url-pattern>/DBUtilR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginpage</display-name>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>vote.com.servlet.loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>vote.com.servlet.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thankyou</display-name>
    <servlet-name>thankyou</servlet-name>
    <servlet-class>vote.com.servlet.thankyou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thankyou</servlet-name>
    <url-pattern>/thankyou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vote</display-name>
    <servlet-name>vote</servlet-name>
    <servlet-class>vote.com.servlet.vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
</web-app>