body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}
label{
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  font-weight: bold;
  color: #112827;


}
input,textarea{
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  color: #383838;
  font-weight: 600;
  


}
button{
  user-select: none;
}
.footer li{
  margin: 0.5rem 0.2rem;

}

